:root {
    --maincolor: rgb(76, 0, 51);
    --secondcolor: rgb(121, 2, 82);
    --thirdcolor: rgb(175, 1, 113);
    --fourthcolor: rgb(232, 15, 136);
}

.headerHeight {
    min-height: 15vh;
    background-color: var(--secondcolor);
}

.mainColor {
    background-color: var(--maincolor) !important;
    min-height: 100vh;
}

.footerColor {
    background-color: var(--secondcolor);
    min-height: 10vh;
}

.h1Color {
    color: white;
}

.iconSize {
    font-size: 3rem;
    color: var(--maincolor);
}

a {
    text-decoration: none;
    color: white !important;
}

.pColor {
    color: white;
}

.debitType {
    color: red !important;
}

.creditType {
    color: green !important;
}

.noTransaction {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: white !important;
}