* {
    font-size: 1.2rem;
}

:root {
    --maincolor: #1e8c45;
    --secondcolor: black;
    --thirdcolor: rgb(175, 1, 113);
    --fourthcolor: rgb(232, 15, 136);
}

.headerHeight {
    min-height: 15%;
    background-color: var(--secondcolor);
    
}

.mainColor {
    background-color: var(--maincolor) !important;
    min-height: 100vh;
}

.footerColor {
    background-color: var(--secondcolor);
    min-height: 10vh;
    padding: 10px 0;
}

.footerColor p {
    margin: 0; /* Elimina el margen predeterminado del párrafo */
    display: flex; /* Utiliza flexbox para centrar verticalmente */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    height: 100%; /* Asegura que el párrafo ocupe todo el espacio vertical */
}

.h1Color {
    color: white;
    text-align: center;
}

.h3Color {
    color: white;
}

.iconSize {
    font-size: 3rem !important;
    color: var(--maincolor);
}

a {
    text-decoration: none;
    color: white !important;
}

.pColor {
    color: black;
}

.debitType {
    color: red !important;
}

.creditType {
    color: green !important;
}

.noTransaction {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: black !important;
}

.logoSize {
    max-width: 30%; /* El logo no se expandirá más allá del ancho del contenedor */
    height: auto; /* Mantén la proporción original del logo */
    cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el logo */
}

.navbar-toggler {
    order: 3; /* Cambia el orden para que el botón del menú se muestre al final */
}

.navbarFont {
    font-size: 20px;
}

.iconColor {
    color: white !important;
}

/* Estilo inicial para los elementos */
.nav-item {
    transition: transform 0.2s ease-in-out;
}

/* Aplicar la transformación al hacer hover en el elemento */
.nav-item:hover {
    transform: scale(1.1); /* Puedes ajustar el valor según tu preferencia */
}

.btn_color {
    background-color: #f28705 !important;
    color: white !important;
}

.list-group-item {
    text-align: center !important;
}

@media (max-width: 990px) {
    .nav-item {
        transition: none;
    }
    
    /* Aplicar la transformación al hacer hover en el elemento */
    .nav-item:hover {
        transform: none; /* Puedes ajustar el valor según tu preferencia */
    }
}