<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../resources/style.css">
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="../resources/Images/favicon.ico" type="image/x-icon">
    <title>Home Banking | Account</title>
</head>
<body>

    <div id="app">
        <header class="bg-dark headerHeight">
            <nav class="navbar navbar-expand-lg headerHeight">
                <div class="container-fluid">
                    <a class="navbar-brand w-75" href="#">
                        <img class="logoSize" src="../resources/Images/bankHub logo letras.png" alt="BankHub Logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbarFont d-flex gap-4">
                            <li class="nav-item d-flex align-items-center">
                                <i class="bi bi-person-circle iconColor"></i><a class="nav-link active" aria-current="page" href="accounts.html">Accounts</a>
                            </li>
                            <li class="nav-item d-flex align-items-center">
                                <i class="bi bi-credit-card iconColor"></i><a class="nav-link active" aria-current="page" href="#">Cards</a>
                            </li>
                            <li class="nav-item d-flex align-items-center gap-1">
                                <i class="bi bi-cash-coin iconColor"></i><a class="nav-link active" aria-current="page" href="#">Loans</a>
                            </li>
                            <li class="nav-item d-flex align-items-center">
                                <i class="bi bi-arrow-left-right iconColor"></i><a class="nav-link active" aria-current="page" href="#">Transactions</a>
                            </li>
                        </ul>
                  </div>
                </div>
            </nav>     
        </header>
        <main>
            <div class="mainColor">
                <section class="d-flex justify-content-center pt-3">
                    <div class="d-flex flex-column">
                        <h1 class="h1Color">Your Account</h1>
                        <div class="card" style="width: 18rem;">
                            <ul class="list-group list-group-flush">
                            <li class="list-group-item">Account number: #{{account.number}}</li>
                            <li class="list-group-item">Balance: ${{numberFormat(account.balance)}}</li>
                            <li class="list-group-item">Creation Date: {{account.creationDate}}</li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="m-3">
                    <h3 class="h3Color">Transactions</h3>
                    <div v-if="transactions.length === 0" class="d-flex justify-content-center mt-5">
                        <p class="noTransaction">There are no transactions.</p>
                    </div>
                    <table v-else class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Type</th>
                            <th scope="col">Date</th>
                            <th scope="col">Description</th>
                          </tr>
                        </thead>
                        <tbody v-for="transaction in transactions">
                          <tr>
                            <th scope="row">{{transaction.id}}</th>
                            <td>${{numberFormat(Math.abs(transaction.amount))}}</td>
                            <td :class="{ 'debitType': transaction.type == 'DEBIT', 'creditType': transaction.type == 'CREDIT' }">
                                {{transaction.type}}</td>
                            <td>{{transaction.date.replace('T', ' ')}}</td>
                            <td>{{transaction.description}}</td>
                          </tr>
                        </tbody>
                      </table>
                </section>
            </div>
        </main>
        <footer class="footerColor">
            <div class="d-flex justify-content-between ps-4 pe-4">
                <div class="d-flex justify-content-center align-items-center">
                    <p class="pColor text-center">2023 - All rights reserved</p>
                </div>
                <div class="d-flex gap-3 iconSize">
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-whatsapp"></i></a>
                  </div>
            </div>
        </footer>
    </div>

    
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="../resources/account.js"></script>
</body>
</html>