<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../resources/style.css">
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous"
    />
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <link rel="shortcut icon" href="../resources/Images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>BankHub | Cards</title>
</head>
<body>
    <div id="app">
        <header class="bg-dark headerHeight">    
            <nav class="navbar navbar-expand-lg headerHeight">
                <div class="container-fluid">
                  <a class="navbar-brand w-75" href="#">
                    <img class="logoSize ps-3" src="../resources/Images/bankHub_Logo-removebg-preview.png" alt="BankHub Logo">
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbarFont d-flex gap-4">
                        <li class="nav-item d-flex align-items-center">
                            <i class="bi bi-person-circle iconColor"></i><a class="nav-link active" aria-current="page" href="accounts.html">Accounts</a>
                        </li>
                        <li class="nav-item d-flex align-items-center">
                            <i class="bi bi-credit-card navbarActive"></i><a class="nav-link active navbarActive" aria-current="page" href="#">Cards</a>
                        </li>
                        <li class="nav-item d-flex align-items-center gap-1">
                            <i class="bi bi-cash-coin iconColor"></i><a class="nav-link active" aria-current="page" href="loan-application.html">Loans</a>
                        </li>
                        <li class="nav-item d-flex align-items-center">
                            <i class="bi bi-arrow-left-right iconColor"></i><a class="nav-link active" aria-current="page" href="transfers.html">Transactions</a>
                        </li>
                        <li v-if="clientIsAdmin" class="nav-item d-flex align-items-center">
                            <i class="bi bi-arrow-left-right iconColor"></i><a class="nav-link active" aria-current="page" style="width: 9rem;" href="admin/loan-manager.html">Loan managment</a>
                        </li>
                        <li class="nav-item d-flex align-items-center">
                            <i class="bi bi-box-arrow-right iconColor"></i>
                            <button class="nav-link active" aria-current="page" data-bs-toggle="modal" data-bs-target="#modalId" style="color: white;">Logout</button>
                        </li>
                    </ul>
                  </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="mainColor">
                <!--Modals-->
                <div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalTitleId">Logout</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to log out?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-danger" @click="logout()">Logout</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="cardDeleteConfirmation" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalTitleId">Delete card</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this card?</p>
                                <p>Card number: {{selectedCardNumberForDelete}}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-danger" @click="deleteCard">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Modals-->
                <section class="d-flex justify-content-center align-items-center pt-3 titleSectionCards">
                    <h1 class="h1Color">Cards</h1>
                </section>
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <h2 class="h3Color">Cards manager:</h2>
                    <div class="d-flex justify-content-center align-items-center gap-5">
                       <div>
                            <a href="create-card.html"><button class="btn btn_color">New Card</button></a>    
                        </div>
                        <div>
                            <form class="d-flex flex-column gap-2 w-100" style="width: 500px;">
                                <label for="cardToDelete" style="color: white;">Select your card</label>
                                <select id="cardToDelete" name="cardToDelete" v-model="selectedCardNumberForDelete">
                                <option v-for="card of client.cards" :value="card.number">{{card.number}}</option>
                                </select>
                                <button v-if="selectedCardNumberForDelete != ''" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cardDeleteConfirmation">Delete this card</button>
                            </form>
                        </div>
                    </div>
                    
                </div>

                <section>
                    <div style="min-height: 40vh;">
                        <h3 class="ms-5 h3Color">Credit:</h3>
                        <div v-for="card of creditCards">
                            <div class="container d-flex gap-5 no-wrap">
                                <div class="card" style="background-color: transparent !important;">
                                    <div class="card-inner">
                                        <div class="front" :style="getCardGradient(card.color)">
                                            <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img">
                                            <div class="row">
                                                <img src="https://i.ibb.co/G9pDnYJ/chip.png" style="width: 80px !important;">
                                                <img src="https://i.ibb.co/WHZ3nRJ/visa.png" style="width: 80px !important;">
                                            </div>
                                            <div class="row card-no">
                                                <p style="width: fit-content; color: white;">{{cardNumberFormat(card.number)[0]}}</p>
                                                <p style="width: fit-content; color: white;">{{cardNumberFormat(card.number)[1]}}</p>
                                                <p style="width: fit-content; color: white;">{{cardNumberFormat(card.number)[2]}}</p>
                                                <p style="width: fit-content; color: white;">{{cardNumberFormat(card.number)[3]}}</p>
                                            </div>
                                            <div class="row card-holder d-flex">
                                                <p style="font-size: 16px; color: white; width: fit-content;">CARD HOLDER</p>
                                                <p style="font-size: 16px; color: white; width: fit-content;">VALID TILL</p>
                                            </div>
                                            <div class="row name">
                                                <p style="width: fit-content; color: white;">{{card.cardholder}}</p>
                                                <p style="width: fit-content; color: white;">{{dateFormat(card.thruDate)}}</p>
                                            </div>
                                            <div v-if="!isCardExpired(card.thruDate)" class="row justify-content-center align-items-center">
                                                <p style="color: red; font-weight: bold;"><i style="color: red; font-weight: bold;" class="bi bi-exclamation-triangle"></i> EXPIRED </p>
                                            </div>
                                        </div>
                                        <div class="back" :style="getCardGradient(card.color)">
                                            <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img">
                                            <div class="bar"></div>
                                            <div class="row card-cvv">
                                                <div class="pt-1 pb-1">
                                                    <img src="https://i.ibb.co/S6JG8px/pattern.png">
                                                </div>
                                                <p>{{card.cvv}}</p>
                                                <p style="color: black;">CARD COLOR: {{card.color}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div v-if="cardsCountIs0(creditCards)" class="p-4 d-flex justify-content-center">
                                <h3 style="color: white;"><b>There are no cards.</b></h3>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div style="min-height: 40vh;">
                        <h3 class="ms-5 h3Color">Debit:</h3>
                        <div v-for="card of debitCards">
                            <div class="container d-flex gap-5 no-wrap">
                                <div class="card" style="background-color: transparent !important;">
                                    <div class="card-inner">
                                        <div class="front" :style="getCardGradient(card.color)">
                                            <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img">
                                            <div class="row">
                                                <img src="https://i.ibb.co/G9pDnYJ/chip.png" style="width: 80px !important;">
                                                <img src="https://i.ibb.co/WHZ3nRJ/visa.png" style="width: 80px !important;">
                                            </div>
                                            <div class="row card-no">
                                                <p style="width: fit-content; color: white;">{{cardNumberFormat(card.number)[0]}}</p>
                                                <p style="width: fit-content; color: white;">{{cardNumberFormat(card.number)[1]}}</p>
                                                <p style="width: fit-content; color: white;">{{cardNumberFormat(card.number)[2]}}</p>
                                                <p style="width: fit-content; color: white;">{{cardNumberFormat(card.number)[3]}}</p>
                                            </div>
                                            <div class="row card-holder d-flex">
                                                <p style="font-size: 16px; color: white; width: fit-content;">CARD HOLDER</p>
                                                <p style="font-size: 16px; color: white; width: fit-content;">VALID TILL</p>
                                            </div>
                                            <div class="row name">
                                                <p style="width: fit-content; color: white;">{{card.cardholder}}</p>
                                                <p style="width: fit-content; color: white;">{{dateFormat(card.thruDate)}}</p>
                                            </div>
                                            <div v-if="!isCardExpired(card.thruDate)" class="row justify-content-center align-items-center">
                                                <p style="color: red; font-weight: bold;"><i style="color: red; font-weight: bold;" class="bi bi-exclamation-triangle"></i> EXPIRED </p>
                                            </div>
                                        </div>
                                        <div class="back" :style="getCardGradient(card.color)">
                                            <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img">
                                            <div class="bar"></div>
                                            <div class="row card-cvv">
                                                <div class="pt-1 pb-1">
                                                    <img src="https://i.ibb.co/S6JG8px/pattern.png">
                                                </div>
                                                <p>{{card.cvv}}</p>
                                                <p style="color: black;">CARD COLOR: {{card.color}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div v-if="cardsCountIs0(debitCards) === true" class="p-4 d-flex justify-content-center">
                                <h3 style="color: white;"><b>There are no cards.</b></h3>
                            </div>
                        </div>
                        
                    </div>
                </section>
            </div>
        </main>

        <div v-if="loading" class="loader-container" style="background-color: black;">
            <div class="loader"></div>
        </div>
        
        <footer class="footerColor">
            <div class="d-flex justify-content-between ps-4 pe-4">
                <div class="justify-content-center align-items-center">
                    <p class="pColor text-center" style="color: white; font-size: 1rem;">2023 - &copy; All rights reserved</p>
                </div>
                <div class="d-flex gap-3 iconSize">
                    <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.whatsapp.com/"><i class="bi bi-whatsapp"></i></a>
                </div>
            </div>
        </footer>
    </div>

<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="../resources/cards.js"></script>
</body>
</html>